@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== custom global style (opsional) ===== */

:root {
  --background: #f5f6fa;
  --foreground: #1f2937;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
